TOKEN=MTQ5MDEwMjQ3NDA2ODE5NzUzNw.Gd0ICr.Z9xiSRhbvbhocNMmtS6jT8TApMczFNAx3Vb4_4
LOG_URL=https://logviewername.herokuapp.com/
GUILD_ID=938521472857677914
OWNERS=444900246347055104
CONNECTION_URI=mongodb+srv://velutyo:rixXaj-canjek-9jonki@cluster0.2azunxs.mongodb.net/?appName=Cluster0
DISABLE_AUTOUPDATES=true
